body{
    background-color: blue;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    font-style: oblique;
    color: rgb(199, 199, 241);
}
.container{
    width: 590px;
    padding: 50px;
    border: 5px double rgb(203, 183, 183);
    border-radius: 10px;
    margin: auto;
    background-color: rgb(14, 14, 251);
    color: aliceblue;
}
h2{
    text-align: center;
    color: rgb(175, 175, 192);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
h6{
    text-align: center;
}
p{
    color: aliceblue;
}
h6{
    color: aliceblue;
    margin: auto;
}